<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.androzic.plugin.locationshare">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-permission android:name="com.androzic.permission.RECEIVE_LOCATION" />
    <uses-permission android:name="com.androzic.permission.NAVIGATION" />
    <uses-permission android:name="com.androzic.permission.READ_PREFERENCES" />
    <uses-permission android:name="com.androzic.permission.READ_MAP_DATA" />
    <uses-permission android:name="com.androzic.permission.WRITE_MAP_DATA" />

    <uses-permission android:name="mobi.maptrek.permission.RECEIVE_LOCATION" />
    <uses-permission android:name="mobi.maptrek.permission.READ_MAP_DATA" />
    <uses-permission android:name="mobi.maptrek.permission.WRITE_MAP_DATA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Application"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".SituationList"
            android:label="@string/pref_sharing_title"
            android:theme="@style/Theme.Application"
            android:exported="true">
            <intent-filter>
                <action android:name="mobi.maptrek.plugins.tool" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Preferences"
            android:label="@string/pref_sharing_title"
            android:theme="@style/Theme.Application"
            android:exported="true">
            <intent-filter>
                <action android:name="com.androzic.plugins.preferences" />
            </intent-filter>
        </activity>

        <service
            android:name=".SharingService"
            android:foregroundServiceType="dataSync" />

        <receiver
            android:name=".Executor"
            tools:ignore="ExportedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="mobi.maptrek.plugins.action.INITIALIZE" />
                <action android:name="mobi.maptrek.plugins.action.FINALIZE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>